* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-image: radial-gradient(rgba(251, 238, 193, 0), rgba(251, 238, 193, 1));
}

.content {
    margin-bottom: 50%;
    min-height: 100%;
}

img {
    position: relative;
    top: -10px;
    left: 43.5%;

}

.login-form header h1 {
    color: white;
    position: relative;
    bottom: 15px;
    font-size: 35px;
    font-weight: 300;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.login-form header h3 {
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.login-form {
    position: absolute;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(101, 157, 189, 1);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75)
}

.field {
    position: relative;
    border-radius: 10px;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.field span {
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.password {
    margin-top: 16px;
}

.pass {
    text-align: left;
    margin: 10px 0;
}

.pass a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.pass:hover a {
    text-decoration: underline;
}

.sub {
    background: #DAAD86;
    border: 1px solid #2691d9;
    position: relative;
    top: 20px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.sub:hover {
    background: #cc9c72;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #659DBD;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    color: white;
    position: relative;
    height: 100px;
    margin-top: 30%;
}

.footer-content {
    background-color: #659DBD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #DAAD86;
}

.socials a i {
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: white;
}

.footer-bottom {
    background: #568eaf;
    width: 100vw;
    padding: 7px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}